@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.css-dev-only-do-not-override-ed5zg0).ant-btn-primary {
  color: #fff !important;
  background-color: #1677ff !important;
  box-shadow: 0 2px 0 rgb(5 145 255 / 10%) !important;
}
@layer base {
  body {
    height: 100%;
    margin: 0;
  }
}
.ReactModal__Content {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: top 0.3s ease-in-out;
}

.ReactModal__Content--after-open {
  top: 50px;
}

.ReactModal__Content--before-close {
  top: -100px;
  transition: top 0.3s ease-in-out;
}

.ReactModal__Content button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.ReactModal__Content button:hover {
  color: #000;
}

:disabled {
  background: #acacac;
}
